<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Profile</title>
  </head>
  <body>
    <h1>Profile Settings</h1>
    <br /><br />
    <form action="" method="post">
      <label for="name">Name</label><br />
      <input type="text" name="name" id="name" /><br />
      <br />
      <label for="email">Email</label><br />
      <input type="text" name="email" id="email" /><br />
      <br />
      <label for="discordId">Discord </label>
    </form>
  </body>
</html>
